<form [formGroup]="createForm" (ngSubmit)="submit()">
    <div class="form-group" fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="30">
            <div fxLayout="column">
                <label>Наименование лотереи</label>
                <input type="text" pInputText class="form-control" formControlName="name">
            </div>

            <div fxLayout="column">
                <label>Наименование лотереи</label>
                <input type="text" pInputText class="form-control" formControlName="name">
            </div>

            <div fxLayout="column">
                <label>Наименование лотереи</label>
                <input type="text" pInputText class="form-control" formControlName="name">
            </div>

            <div fxLayout="raw" fxFlexAlign="center" fxLayoutGap="10px">
                <button pButton type="submit" label="Сохранить" class="p-button-outlined"></button>
            </div>            
        </div>
    </div>
</form>