<h1>It's working!</h1>
<button pButton pRipple type="button" label="Создать лотерею" class="p-button-outlined" [routerLink]="['/lottery/create']"></button>
<button pButton pRipple type="button" label="Создать заявку" class="p-button-outlined" [routerLink]="['/application/create']"></button>
<router-outlet></router-outlet>